@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --background-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Open Sans", Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}


.card{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    margin: 50px;
    width: 300px;
    height: 510px;
    background-color: rgb(224, 248, 240);
}

.registerCard{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 50px;
    width: 600px;
    height: 650px;
    background-color: rgb(224, 248, 240);
}

.form-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.form-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;
}

label{
    margin-bottom: 2px;
}

input{
    width: 230px;
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
}

button{
    margin-top: 30px;
    width: 40%;
    height: 30px;
    background-color: #7da2db;
    border-radius: 4px;
}

.regButton{
    margin: 20px;
    margin-top: 50px;
    width: 40%;
    height: 30px;
    background-color: #7da2db;
    border-radius: 4px;
}

button:hover{
    border: 1px solid black;
    filter: drop-shadow(0 0 10px #a5a3a3);
}

.card{
    border-radius: 5px;
}

.card h3{
    margin-top: 50px;
    margin-bottom: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid;
}

nav a{
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #7fffd4;
}

nav a:hover{
    border: 1px solid black;
    filter: drop-shadow(0 0 10px #a5a3a3);
}

.nav-left{
    padding: 20px;
    margin-left: 30px
}

.nav-right{
    padding: 20px;
    margin-right: 30px
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#about h3{
    margin-bottom: 20px;
}

#about p{
    width: 580px;
}

section{
    width: 100%;
    height: 450px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h3{
    margin-top: 30px;
}

.section{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product{
    border: 1px solid;
    width: 210px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #6bd2e4;
}

.product:hover{
    border: none;
    filter: drop-shadow(0 0 10px #a5a3a3);
}

.product img{
    margin-top: 10px;
    width: 100%;
    height: 40%
}

.product h4{
    margin-bottom: 10px;
}

.product button{
    margin-top: 5px;
    margin-left: 50px;
    width: 80px;
    height: 30px;
}

.product button:hover{
    filter: drop-shadow(0 0 10px #a5a3a3);
    background-color: #8b8888;
    border: 2px;
    color: white;
}

section h2{
    margin: 20px;
}

.page{
    display: flex;
    flex-direction: column;
    width: 90%;
}

#cartTable{
    border: 1px solid;
    width: 600px;
    height: 400px;
    margin: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
}

th, td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#cartPage h2{
    margin: 30px
}

#addBtn{
    border-radius: 10px;
    width: 30px;
    height: 30px;
    margin: 3px;
    background: #18b164;
}

#dropBtn{
    border-radius: 10px;
    width: 30px;
    height: 30px;
    margin: 3px;
    background: #d44444;
}

#totalLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

#totalLine button{
    margin: 0px;
    width: 150px;
    height:30px;
    background: #b4b1b1;
}

.lockoutPageText h1, h2{
    text-align: center;
}

.lockoutPageText h2{
    text-align: center;
}

.lockoutPageText{
    padding: 200px;
}

#login button{
    height: 40px;
}